@import url('https://fonts.googleapis.com/css?family=Poppins:400|Poppins:400');

html {
  font-size: 100%;
} /*16px*/

body {
  background-image: url(/images/MKdark.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
}

/* Typography */

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
  margin: 1em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

small,
.text_small {
  font-size: 0.833em;
}

/* STYLING */

/* just playing around may be an idea to impliment a grid system */
.wall {
  position: relative;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-y: scroll; */
}

/* This section details the countdown timer styles */

.timer-box {
  height: 20rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  background: rgba(184, 214, 233, 0.85);
  transition: 0.3s;
  border-radius: 7px;
  color: #fff;
}

.primary-timer {
  height: 50%;
}

.secondary-timers {
  height: 50%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.dining-timer {
  width: 50%;
}

.fp-timer {
  width: 50%;
}

/* This section details the day card styles */
.card-grid {
  width: 60%;
  align-items: center;
}
.day-card {
  height: 14rem;
  margin-bottom: 25px;
  display: flex;
  background: rgba(252, 252, 252, 0.85);
  transition: 0.3s;
  border-radius: 7px;
}

.day-date {
  width: 3rem;
  text-align: center;
  padding-top: 1.8em;
  padding-right: 2em;
  padding-left: 2em;
  border-right: 1px solid darkgray;
}

.day-details {
  width: 100%;
}

.day-day {
  height: 3rem;
  padding-left: 1em;
  border-bottom: 1px solid darkgray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.day-tasks {
  height: 78%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.116) 83%,
    rgba(255, 255, 255, 0.5) 100%
  ); */
  background-repeat: no-repeat !important;
  background-size: 100% auto;
  background-position: right;
  box-sizing: border-box;
  position: relative;
}

.day-tasks p {
  margin: 0;
  padding: 8px;
  padding-top: 16px;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}

.day-tasks h3 {
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}

.magic-hours {
  font-size: 0.75em;
  position: absolute;
  top: 0.2em;
  right: 0.4em;
}

.magic-hours p {
  padding: 0;
  text-decoration: underline;
}

.park-dropdown {
  display: flex;
  font-family: inherit;
  background-color: rgba(252, 252, 252, 0.5);
  overflow: hidden !important;
  padding: 5px 35px 5px 5px;
  border: none;
  appearance: none;
  background-image: url(/images/mickey-hand-down.jpg);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: 95%;
}

@media (max-width: 920px) {
  .card-grid {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .card-grid {
    width: 90%;
  }
  .day-date {
    width: 30%;
    padding-left: 0;
    padding-right: 0;
  }
  .park-dropdown {
    width: 35%;
  }
}

@media (max-width: 400px) {
  .day-tasks {
    background-size: auto 100%;
  }
}
