@import url('https://fonts.googleapis.com/css?family=Poppins:400|Poppins:400');

html {
  font-size: 100%;
} /*16px*/

body {
  background-image: url(/images/MKdark.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
}

/* Typography */

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
  margin: 1em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

small,
.text_small {
  font-size: 0.833em;
}

/* STYLING */

/* just playing around may be an idea to impliment a grid system */
.wall {
  position: relative;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-y: scroll; */
}

.wall h2 {
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}

/* This section details the countdown timer styles */

.timer-box {
  /* height: 24rem; */
  width: 60%;
  display: flex;
  flex-direction: column;
  background: rgba(120, 177, 213, 0.85);
  transition: 0.3s;
  border-radius: 7px;
  color: #fff;
}

.timer-box h3,
h5 {
  margin: 0.5em;
  margin-bottom: 1em;
}
.timer-box span {
  text-decoration: underline;
}

.primary-timer {
  height: 45%;
  background-image: url('https://media.giphy.com/media/qua5SVeHwKYZq/giphy.gif');
  background-size: auto;
  border-bottom: 1px solid rgb(81, 81, 81);
  text-align: center;
}

.secondary-timers {
  height: 65%;
  display: flex;
  flex-direction: row;
}

.dining-timer {
  width: 50%;
  border-right: 1px solid rgb(81, 81, 81);
}

.dining-timer h3 {
  text-align: end;
  margin: 0.2em;
  margin-bottom: 0.5em;
}

.fp-timer {
  width: 50%;
}

.fp-timer h3 {
  text-align: end;
  margin: 0.2em;
}

/* This section details the day card styles */
.card-grid {
  width: 60%;
  align-items: center;
}
.day-card {
  min-height: 14rem;
  margin-bottom: 25px;
  display: flex;
  background: rgba(252, 252, 252, 0.85);
  transition: 0.3s;
  border-radius: 7px;
}

.day-date {
  width: 3rem;
  text-align: center;
  padding-top: 1.8em;
  padding-right: 2em;
  padding-left: 2em;
  border-right: 1px solid darkgray;
}

.day-date h2 {
  color: #333;
  text-shadow: none;
}

.day-details {
  width: 100%;
}

.day-day {
  height: 3rem;
  padding-left: 1em;
  border-bottom: 1px solid darkgray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.day-tasks {
  min-height: 78%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat !important;
  background-size: 100% auto;
  background-position: right;
  box-sizing: border-box;
  position: relative;
}

.day-tasks p {
  margin: 0;
  padding: 8px;
  padding-top: 16px;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}

/* .day-tasks h3 {
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
} */

.magic-hours {
  font-size: 0.75em;
  position: absolute;
  top: 0.2em;
  right: 0.4em;
}

.magic-hours p {
  padding: 0;
  text-decoration: underline;
}

.park-dropdown {
  display: flex;
  font-family: inherit;
  background-color: rgba(252, 252, 252, 0.5);
  overflow: hidden !important;
  padding: 5px 35px 5px 5px;
  border: none;
  appearance: none;
  background-image: url(/images/mickey-hand-down.jpg);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: 95%;
}

/* This section covers the todo styles */

.day-todos h5 {
  padding-left: 20%;
  margin: 0;
}
.dining-todos {
  width: 50%;
  /* background-color: rgba(252, 252, 252, 0.3); */
}
.dining-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 1px 2px rgb(51, 51, 51, 0.2);
}

.dining-item p {
  padding: 5px;
}

.todo-delete {
  background-color: #fff;
  background-image: url(/images/delete-icon.png);
  background-size: auto 100%;
  /* margin-left: 5px; */
  font-size: 1.2em;
  height: 1.2em;
  width: 1.2em;
  box-shadow: 0 5px 10px gray;
}

.todo-delete:hover {
  transform: scale(1.15, 1.15);
  animation: jiggle 0.5s infinite linear;
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg) scale(1.15, 1.15);
  }

  50% {
    transform: rotate(2deg) scale(1.15, 1.15);
  }

  100% {
    transform: rotate(-2deg) scale(1.15, 1.15);
  }
}

@media (max-width: 920px) {
  .card-grid,
  .timer-box {
    width: 100%;
  }
  /* .wall {
    width: 96vw;
  } */
}

@media (max-width: 800px) {
  /* .card-grid,
  .timer-box {
    width: 92%;
  } */

  .day-date {
    width: 30%;
    padding-left: 0;
    padding-right: 0;
  }
  .park-dropdown {
    width: 35%;
  }
}

@media (max-width: 400px) {
  .magic-hours {
    width: 40%;
    height: 1.5em;
    overflow: hidden !important;
  }

  .magic-hours :hover {
    width: 100%;
    overflow: none;
  }
}
